/* Contenedor principal */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #f4f4f4; /* Fondo suave */
}
